@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar-link {
  @apply hover:text-emerald-400 transition-all duration-300;
  transition-timing-function: ease;
}

.sidebar-link-active {
  @apply text-emerald-400;
}

.triangle-left {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 7.5px 10px 7.5px;
  border-color: transparent transparent #16191c transparent;
  transform: rotate(270deg);
  margin-right: -5px;
}

.tooltip-wrapper {
  animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
  0% {
    /* transform: scale(0.8); */
    opacity: 0.1;
  }
  100% {
    /* transform: scale(1); */
    opacity: 1;
  }
}
